{% extends 'layouts/base.njk' %}

{% block content %}

  <h1 id="tables">Chats</h1>
  <br>
  <div style="float: right; margin-top: -67px;">
    <a class="btn btn-primary" href="/chats/new/group" role="button">Create group chat</a>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Last message</th>
        <th style="width: 15%;" scope="col">Members count</th>
      </tr>
    </thead>
    <tbody>
      {% for chat in chats %}
        <tr>
          <td>
            <a href="/chats/{{ chat.id }}">{{ chat.name }}</a>
          </td>
          <td>{{ chat.lastMessage }}</td>
          <td>{{ chat.membersCount }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
