{% extends 'layouts/base.njk' %}

{% block content %}

  <h1 id="tables">Create group chats</h1>
  
  <form method="post" action="">
    {% for friend in friends %}
      <div class="">
        {{ friend.name }}
      </div>
    {% endfor %}
  </form>

{% endblock %}
